body{
    background-color: black;
    color: white;
    text-align: center;
}
header {
    display: flex;
    margin: 10px;

}
header img{
    width: 100px;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 0 40px;
}
main{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
main img{
    margin-top: 40px;
    box-shadow: 3px 3px 10px 1px;
    border: 1px solid rgba(82, 82, 82, 0.24);
    border-radius: 10px;
}
footer{
    position: fixed;
    bottom: 10px;
}