table{
    width: 80%;
    margin: auto;
    border: 2px #fff solid;
    border-collapse: collapse;
    text-align: center;
    color: white;
}
thead{
    background: rgb(0, 2, 19);
    text-transform: uppercase;
    font-size: 12px;
}
/*  */
thead tr th{
    padding: 6px 10px;
}

tbody tr th{
    padding: 8px 10px;
}